:root {
  color-scheme: dark;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text",
    "SF Pro Icons", "Helvetica Neue", Arial, sans-serif;
  background: #020617;
  color: #e5e7eb;
}

textarea {
  font-family: inherit;
}
